<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>

                <div class="panel-body">
                    <!--<form class="form-horizontal" controller="login" action="register" name="registerForm">-->
                    Famous Topics Will Come Here
                </div>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Login</h3>
                    </div>

                    <div class="panel-body">
                        <form class="form-horizontal" th:action="@{/login}" name="loginForm">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Username:</label>

                                <div class="col-sm-9">
                                    <input type="text" id="loginUsername" class="form-control"
                                           placeholder="Enter Username"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Password:</label>

                                <div class="col-sm-9">
                                    <input id="loginPassword" type="password" class="form-control"
                                           placeholder="Enter Password"/>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-6">

                                    <a href="#forgotpassword" data-toggle="modal" data-target="#forgotpassword">Forgot
                                        Password</a>
                                    <input type="submit" name="submit" value="login"
                                           class="btn btn-default">Submit
                                    </input>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Register</h3>
                    </div>

                    <div class="panel-body">
                        <!--<form class="form-horizontal" controller="login" action="register" name="registerForm">-->
                        <form action="#" th:action="@{/register}" th:object="${user}" method="post">
                            <div class="form-group">
                                <label class="control-label col-sm-3">First name *</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="First Name"
                                           th:field="*{firstName}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" for="email">Last name *</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Last Name"
                                           th:field="*{lastName}"/>

                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-3" for="email">Email *</label>

                                <div class="col-sm-9">
                                    <input typeof="text" type="email" class="form-control" placeholder="Email Id"
                                           th:field="*{email}"/>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" for="email">Username *</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="User Name"
                                           th:field="*{username}"/>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Password:</label>

                                <div class="col-sm-9">
                                    <input type="password" id="password" class="form-control" placeholder="Password"
                                           th:field="*{password}"/>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Confirm Password:</label>

                                <div class="col-sm-9">
                                    <input type="password" class="form-control" placeholder="Password"
                                           th:field="*{confirmPassword}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-10">
                                    <input type="submit" value="Submit"/><input type="reset" value="Reset"/>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>