<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>

                <div class="panel-body" th:object="${loggedInUser}">
                    <span th:text="|Hello ${loggedInUser.username}|"></span>
                    <span th:text="|Hello ${loggedInUser.firstName}|"></span>
                    <span th:text="|Hello ${loggedInUser.lastName}|"></span>
                    <span th:text="|Hello ${loggedInUser.email}|"></span>
                    <!--<form class="form-horizontal" controller="login" action="register" name="registerForm">-->
                    Famous Topics Will Come Here
                </div>

            </div>
        </div>
    </div>
    <a th:href="@{/}">Link To Homepage</a>
</div>
</body>
</html>